/* JSON Navbars
    Copyright 2022 Targren.com
 */


.NavMenu {
    height: 23px;
    display: flex;
    justify-content: left;
}

.NavRO {

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background: white;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;


}


.NavDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 3px 0 2px;
    padding: 0 2px;

    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-top: 0;
    border-bottom: 0;        
    background: linear-gradient(117deg, rgba(168,193,255,1) 0%, rgba(245,246,250,1) 35%, rgba(168,193,255,1) 100%);
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}




.NavItem {
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-top: 0;
    border-bottom: 0;
    background: rgb(168,193,255);
    background: linear-gradient(117deg, rgba(168,193,255,1) 0%, rgba(245,246,250,1) 35%, rgba(168,193,255,1) 100%);
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.NavRight{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left:auto;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
}


.NavInput {
    margin-right: 3px;
    margin-left: 2px;
}

.NavInput>*{
    height:100%;
}

.HoverItem {
    background: green;
    color: white;
    cursor: pointer;
}

.NavFormDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 3px;
    margin-left: 2px;
    padding-left: 2px;
    padding-right: 2px;

}

.NavForm {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.NavInputDD{
    padding: 0;
    margin: 0;
    height: 100%;
    border: 1px solid black;
}

.NavInputText{
    height: 100%;
    box-sizing: border-box;
    padding: 0;
}
